<header>
  <h1 [hidden]="true">Component 2</h1>
</header>
<main>
  <div class="grid-list">
    <button (click)="switchGridListView()">Grid/List View</button>&nbsp;
    <label for="price">Price Filter</label>
    <select
      aria-placeholder="Select category to filter"
      name="price"
      id="price"
      [(ngModel)]="pricefilter"
      (change)="priceChange()"
      required
    >
      <option value="" disabled selected>Choose a drink</option>
      <option value="1">Low to High</option>
      <option value="2">High to Low</option>
    </select>

    <br /><br />
  </div>
  

  <div class="flex-container">
    <div [ngClass]="isGrid ? 'grid' : 'list'" *ngFor="let item of items">
      {{ item.price }}
    </div>
  </div>
</main>
