<!-- 
<div class="grid-container">
<div class="grid-item">
    <div class="startcounter">{{checkcount()}}</div>

    <div class="pausecounter">{{state.timelogs.length - checkcount()}}</div>
  
</div>
<div  class="grid-item">
   
    <div class="start" >Started</div>
    <div class="pause">Paused</div>
</div>
</div> -->

<div class="grid-container">
    <div class="grid-item">{{checkcount()}}</div>
    <div class="grid-item">{{state.timelogs.length - checkcount()}}</div>
    <div class="grid-item">Started</div>
    <div class="grid-item">Paused</div>

    </div>



