<div class="timeinput">
    <form [formGroup]="timerform">
        <div class="timeinput__form">
            <label for="time">Enter Time Limit </label>
            <input id="time" type="number" formControlName="timer">
        </div>
        <div class="timeinput__button">
            <button class="startbutton" type="button" [disabled]="timerform.invalid" (click)="startpausehandler()">Start/Pause</button>
            &nbsp;
            <button class="resetbutton" (click)="resethandler()">Reset</button>
        </div>
    </form>
</div>
<div class="timeinput__counter">
    <div *ngFor="let counter of state.timelogs">
        <div *ngIf="!counter.start">
            Paused at {{counter.countdown}}
        </div>
    </div>
</div>