<header>
  <h1 [hidden]="true">Component 3</h1>
</header>

<main>
  <div class="container-outer">
    <div class="sibling1">
      <app-sibling1 [state]="state"></app-sibling1>
    </div>
    <div class="sibling2">
      <app-sibling2
        (startPause)="startPause($event)"
        (reset)="reset()"
        [state]="state"
      ></app-sibling2>
    </div>

    <div class="sibling3">
   <app-sibling3 [state]="state"></app-sibling3>
    </div>
    <div class="sibling4">
        <app-sibling4 [state]="state"></app-sibling4>
         </div>
  </div>
</main>
