<header>
    <h1 [hidden]="true">Component 4</h1>
  </header>
  
  <main>
    <div class="container-outer">
      <div class="sibling1">
        <app-subject-sibling1></app-subject-sibling1>
      </div>
      <div class="sibling2">
        <app-subject-sibling2></app-subject-sibling2>
      </div>
  
      <div class="sibling3">
     <app-subject-sibling3></app-subject-sibling3>
      </div>
      <div class="sibling4">
          <app-subject-sibling4></app-subject-sibling4>
           </div>
    </div>
  </main>
  
